<form [formGroup]="form" (ngSubmit)="submit()" novalidate>
  <input type="hidden" id="inputId" class="form-control" placeholder="Id" formControlName="id">

  <div class="form-group row">
    <label for="inputTitle" class="col-form-label col-2">Title:</label>
    <div class="col-10">
      <input type="text" id="inputTitle" class="form-control" placeholder="Title" formControlName="title">
    </div>
  </div>

  <div class="form-group row">
    <label for="inputIban" class="col-form-label col-2">IBAN:</label>
    <div class="col-10">
      <input type="text" id="inputIban" class="form-control" placeholder="IBAN" formControlName="iban">
    </div>
  </div>

  <div class="row" formArrayName="authors">
    <label class="col-form-label col-2">Authors:</label>
    <div class="col-10">
      <div *ngFor="let author of authors.controls; let i = index" class="form-group">
        <div *ngIf="authors.controls.length === 1">
          <input type="text" class="form-control" [formControlName]="i">
        </div>
        <div *ngIf="authors.controls.length > 1" class="input-group">
          <input type="text" class="form-control" [formControlName]="i">
          <span class="input-group-btn">
            <button type="button" class="btn btn-secondary" (click)="removeAuthor(i)">
              <i class="fa fa-minus fa-md"></i>
            </button>
          </span>
        </div>
        <span *ngIf="author.errors?.required && (author.dirty || author.touched)" class="text-danger">
          This field is required
        </span>
      </div>
      <button type="button" class="btn btn-outline-dark" (click)="addAuthor()">
        <i class="fa fa-plus fa-md"></i>
      </button>
    </div>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
    Save
  </button>
</form>
