<form [formGroup]="form" novalidate>
  <input type="hidden" id="inputId" class="form-control" placeholder="Id" formControlName="id">

  <div class="form-group row">
    <label for="inputTitle" class="col-form-label col-2">Title:</label>
    <div class="col-10">
      <input type="text" id="inputTitle" class="form-control" placeholder="Title" formControlName="title">
    </div>
  </div>

  <div class="form-group row">
    <label for="inputIban" class="col-form-label col-2">IBAN:</label>
    <div class="col-10">
      <input type="text" id="inputIban" class="form-control" placeholder="IBAN" formControlName="iban">
    </div>
  </div>

  <div class="form-group row">
    <label for="inputAuthors" class="col-form-label col-2">IBAN:</label>
    <div class="col-10">
      <tag-input id="inputAuthors" class="form-control" [formControlName]="'authors'" name="authors">
      </tag-input>
    </div>
  </div>


  <button type="submit" class="btn btn-primary" [disabled]="form.invalid" (click)="submit()">
    {{ book.id === null ? 'Create' : 'Update' }}
  </button>

  <button type="button" class="btn btn-danger" (click)="reset()">
    Reset
  </button>

</form>
